.topDiv { 
	border-width: 0;
	transition: all 1s ease; 
	background: navy;
	width: 1600px; 
	height: 40px; 
	padding:10px  
}
.topDiv:hover {
  background: rgb(10,50,50);
  padding: 5px;
	
}

.logoimg {
	padding:5px;
    float:left
}
